<!-- Contenido de fondo2 (NODE) -->
<div class="flex flex-col justify-center w-screen h-screen fondos fondo2">

    <div class="flex justify-center items-center w-full h-full z-10">
        <div class="flex flex-col lg:flex-row h-1/3 sm:h-1/2 justify-between lg:justify-evenly lg:w-4/6 items-center">

            <button id="btnintroduccionnode"
                class="flex items-center justify-center w-56 sm:w-64 2xl:w-40 h-16 sm:h-20 2xl:h-40 flex-col bg-black hoververde rounded-full">
                <h3 class="text-white 2xl:text-lg text-center">Introducción</h3>
            </button>

            <button id="btnhistorianode"
                class="flex items-center justify-center w-56 sm:w-64 2xl:w-40 h-16 sm:h-20 2xl:h-40 flex-col bg-black hoververde rounded-full">
                <h3 class="text-white 2xl:text-lg text-center">Historia</h3>
            </button>

            <button id="btnactualidadnode"
                class="flex items-center justify-center w-56 sm:w-64 2xl:w-40 h-16 sm:h-20 2xl:h-40 flex-col bg-black hoververde rounded-full">
                <h3 class="text-white 2xl:text-lg text-center">Actualidad</h3>
            </button>

        </div>
    </div>

    <!-- Info Introducción -->
    <div id="infointroduccionnode"
        class="absolute w-full h-full top-0 flex flex-col justify-center items-center transition-all duration-500 transform opacity-0 translate-y-full z-20">
        <div id="scrollintroduccionnode"
            class="overflow-y-auto bg-white rounded-3xl h-2/3 lg:h-3/4 w-5/6 lg:w-2/3 lg:mt-8">
            <div class="flex flex-col items-center justify-center text-center relative">
                <div class="flex flex-col justify-center pb-4 z-20">

                    <section class="flex flex-col items-center pt-8 px-4">
                        <div class="w-full p-4 lg:px-44 rounded fondoverde">
                            <h1 class="mb-4 text-xl lg:text-2xl font-bold">¿Qué es Node.js?</h1>
                            <p class="mb-4 text-sm lg:text-base">Node.js es un entorno de ejecución para JavaScript del
                                lado del servidor que permite a los desarrolladores construir aplicaciones escalables y
                                de alto rendimiento. Su característica distintiva es la capacidad para manejar
                                operaciones de entrada/salida de manera eficiente mediante un modelo de eventos y
                                operaciones no bloqueantes.</p>
                        </div>
                    </section>

                    <section>
                        <h2 class="text-xl lg:text-2xl font-bold mt-8 mb-8">Principios básicos</h2>
                        <div class="mb-4 p-4 lg:px-44 bg-gray-100 rounded">
                            <h3 class="text-sm lg:text-base font-bold mb-2">Asincronía</h3>
                            <p class="text-sm lg:text-base">Node.js utiliza operaciones no bloqueantes y
                                devoluciones de llamada para manejar múltiples solicitudes simultáneamente sin
                                esperar a que cada operación se complete.</p>
                        </div>
                        <div class="mb-4 p-4 lg:px-44 bg-gray-100 rounded">
                            <h3 class="text-sm lg:text-base font-bold mb-2">Módulos</h3>
                            <p class="text-sm lg:text-base">La modularidad es fundamental, permitiendo a los
                                desarrolladores organizar su código en piezas reutilizables y gestionar dependencias
                                de manera efectiva.</p>
                        </div>
                        <div class="mb-4 p-4 lg:px-44 bg-gray-100 rounded">
                            <h3 class="text-sm lg:text-base font-bold mb-2">Node Package Manager (npm)</h3>
                            <p class="text-sm lg:text-base">Facilita la instalación y gestión de bibliotecas y
                                herramientas externas, formando un extenso ecosistema para el desarrollo en Node.js.
                            </p>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Info Historia -->
    <div id="infohistorianode"
        class="absolute w-full h-full top-0 flex flex-col justify-center items-center transition-all duration-500 transform opacity-0 translate-y-full z-20">
        <div id="scrollhistorianode" class="overflow-y-auto bg-white rounded-3xl h-2/3 lg:h-3/4 w-5/6 lg:w-2/3 lg:mt-8">
            <div class="flex flex-col items-center justify-center text-center relative">
                <div class="flex flex-col justify-center pb-4 z-20">

                    <section class="flex flex-col items-center pt-8 px-4">
                        <div class="w-full p-4 lg:px-44 rounded fondoverde">
                            <h1 class="mb-4 text-xl lg:text-2xl font-bold">Origen de Node.js</h1>
                            <p class="mb-4 text-sm lg:text-base">Node.js fue creado por Ryan Dahl en 2009 con el
                                objetivo de superar las limitaciones de la programación basada en eventos y la
                                asincronía en el lado del servidor. Dahl buscaba un entorno que permitiera la
                                construcción de aplicaciones en tiempo real de manera eficiente.</p>
                        </div>
                    </section>

                    <section class="flex flex-col items-center pt-8 px-4">
                        <div class="w-full p-4 lg:px-44 rounded bg-gray-100">
                            <h1 class="mb-4 text-xl lg:text-2xl font-bold">Breve historia</h1>
                            <p class="mb-4 text-sm lg:text-base">Node.js fue creado por Ryan Dahl en 2009 con el
                                objetivo de superar las limitaciones de la programación basada en eventos y la
                                asincronía en el lado del servidor. Dahl buscaba un entorno que permitiera la
                                construcción de aplicaciones en tiempo real de manera eficiente.</p>
                            <p class="mb-4 text-sm lg:text-base">Ryan Dahl inició el proyecto, y a medida que ganó
                                popularidad, una comunidad activa de desarrolladores contribuyó a su desarrollo. La
                                evolución de Node.js se ha gestionado de manera colaborativa, con una gobernanza abierta
                                y un enfoque en la adaptación a las necesidades cambiantes del desarrollo web.</p>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Info Genealogía -->
    <div id="infoactualidadnode"
        class="absolute w-full h-full top-0 flex flex-col justify-center items-center transition-all duration-500 transform opacity-0 translate-y-full z-20">
        <div id="scrollactualidadnode"
            class="overflow-y-auto bg-white rounded-3xl h-2/3 lg:h-3/4 w-5/6 lg:w-2/3 lg:mt-8">
            <div class="flex flex-col items-center justify-center text-center relative">
                <div class="flex flex-col justify-center pb-4 z-20">

                    <section class="flex flex-col items-center pt-8 px-4">
                        <div class="w-full p-4 lg:px-44 rounded fondoverde">
                            <h1 class="mb-4 text-xl lg:text-2xl font-bold">Mantenimiento actual</h1>
                            <p class="mb-4 text-sm lg:text-base">Node.js es mantenido por la Node.js Foundation, una
                                colaboración entre empresas y desarrolladores individuales. En 2019, la fundación se
                                fusionó con la JavaScript Foundation para fortalecer aún más el ecosistema JavaScript en
                                su conjunto. Desde entonces, la responsabilidad del mantenimiento ha recaído en la
                                OpenJS Foundation.</p>
                        </div>
                    </section>

                    <section>
                        <h2 class="text-xl lg:text-2xl font-bold mt-8 mb-8">Empresas líderes que utilizan Node.js</h2>
                        <div class="mb-4 p-4 lg:px-44 bg-gray-100 rounded">
                            <h3 class="text-sm lg:text-base font-bold mb-2">Netflix</h3>
                            <p class="text-sm lg:text-base">Utiliza Node.js para construir aplicaciones de transmisión
                                en tiempo real y mejorar la experiencia del usuario.</p>
                        </div>
                        <div class="mb-4 p-4 lg:px-44 bg-gray-100 rounded">
                            <h3 class="text-sm lg:text-base font-bold mb-2">LinkedIn</h3>
                            <p class="text-sm lg:text-base">Migró a Node.js para mejorar la velocidad de desarrollo y la
                                eficiencia en el manejo de grandes volúmenes de datos.</p>
                        </div>
                        <div class="mb-4 p-4 lg:px-44 bg-gray-100 rounded">
                            <h3 class="text-sm lg:text-base font-bold mb-2">Walmart</h3>
                            <p class="text-sm lg:text-base">Adoptó Node.js para mejorar el rendimiento de su plataforma
                                de comercio electrónico y ofrecer una experiencia de compra más rápida.
                            </p>
                        </div>
                    </section>

                    <section class="flex flex-col items-center pt-8 px-4">
                        <div class="w-full p-4 lg:px-44 rounded fondoverde">
                            <h1 class="mb-4 text-xl lg:text-2xl font-bold">Estadísticas relevantes</h1>
                            <p class="mb-4 text-sm lg:text-base">Según la encuesta anual de desarrolladores de Stack
                                Overflow en 2022, Node.js es una de las tecnologías más populares.</p>
                            <p class="mb-4 text-sm lg:text-base">GitHub, la plataforma líder de desarrollo colaborativo,
                                alberga una gran cantidad de proyectos construidos con Node.js.</p>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>