@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    /* Prevengo copy paste */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
    /* Esto arregla error de alto de pantalla ("info" aparece desde abajo, entonces ocupa un espacio debajo de "fondo1")*/
    position: fixed;
}

/* Scroll contenedorfondos */
.contenedorfondos {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

/* Oculta barra scroll */
::-webkit-scrollbar {
    display: none;
}

/* Fondos */
.fondos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

.fondo1 {
    background-image: url('assets/fotos/fondo1.jpg');
}

.fondo3 {
    background-image: url('assets/fotos/fondo3.jpg');
}

/* Hover verde */
.hoververde {
    transition: background-color 0.3s;
}

/* Hover amarillo */
.hoveramarillo {
    transition: background-color 0.3s;
}

/* Color fondo azul info */
.fondoverde {
    background-color: rgba(0, 204, 78, 0.227);
}

.fondoamarillo {
    background-color: rgba(204, 201, 0, 0.227);
}

/* Azul links */
.azul {
    color: rgb(0, 155, 83);
    transition: color 0.3s;
}

/* Hover azul links */
.azul:hover {
    color: #058650;
}

/* Hover agrandar iconos */
.agrandar {
    transition: transform ease 0.5s;
}

.agrandar:hover {
    transform: scale(1.1);
}

/* Hover agrandar botón descarga CV */
.agrandar2 {
    transition: all ease 0.5s;
}

.agrandar2:hover {
    transform: scale(1.1);
}

/* Hover agrandar foto CV */
.agrandar3 {
    transition: all ease 0.5s;
}

.agrandar3:hover {
    transform: scale(1.05);
}

/* Subrayados menú */
@keyframes fadeInUnderline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.subrayado {
    position: relative;
    display: inline-block;
}

.subrayado::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.436);
    transform-origin: left center;
    animation: fadeInUnderline 0.8s forwards;
}

/* Video YouTube */
.videocontenedor {
    position: relative;
    width: 100%;
    padding-top: 60%;
    margin-top: 32px;
    margin-bottom: 8px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive PC */
@media (min-width: 1024px) {

    /* Oculta botón menú móvil en PC */
    .esconder {
        display: none;
    }

    /* Hace fondo menú transparente */
    #menu {
        background: transparent;
    }

    /* Video YouTube PC */
    .videocontenedor {
        width: 80%;
        padding-top: 40%;
    }
}

/* Responsive móvil */
@media (max-width: 1024px) {
    .letra {
        font-size: 14px;
    }
    
    .letra2 {
        font-size: 11px;
    }
}